[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
altair = "==4.2.0"
argon2-cffi = "==21.3.0"
argon2-cffi-bindings = "==21.2.0"
astor = "==0.8.1"
asttokens = "==2.0.5"
attrs = "==21.4.0"
backcall = "==0.2.0"
base58 = "==2.1.1"
bleach = "==4.1.0"
blinker = "==1.4"
pandas = "*"
statsmodels = "*"
scipy = "*"
plotly = "*"
streamlit = "*"
pydata-google-auth = "*"
google-cloud-bigquery = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.10"
